@import url('./variaveis.css');
/* bontões de controle do jogo */
.btns{
    padding: 6px;
    border-radius: 8px;
    border-color: var(--color-texto);
    background-color: #90CAF9;
    font-size: medium;
}

#comecar-jogo{
    background-color: var(--color-verdepastel);
}

#resetar-jogo{
    background-color: var(--color-rosapastel);
}