/* importação da fonte do site */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* importações de folhas de estilo */

@import url('./seletores.css');
@import url('./buttons.css');
@import url('./variaveis.css');
@import url('./tabuleiro.css');

/* pradronização de todo documento */
*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* cores do site */
:root{
    --color-AzulClaro:#3498BF;
    --color-AzulNormal:#1F598C;
    --color-AzulEscuro:#143C8C;

}


/* Configuração do layout da página */
body{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

/* cabeçalho  e seu filhos*/
header{
    width: calc(100vw - 24px);
    height: 60px;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    background-color: rgba(52, 152, 191, 0.3);
}

/* Logo do site */
.logo{
    font-size: 40px;
    font-weight: bolder;
}

.generico{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.generico span{
    font-size: medium;
    font-weight: bold;
}

.stard{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 40px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
}

/* tabela */
table{
    width: 400px;
}