/* varivei de cor */
:root{
    --color-de-fundo: #FFF9C4;
    --color-botoes:#90CAF9;
    --color-texto:#424242;
    --color-verdepastel:#A5D6A7;
    --color-rosapastel:#F48FB1;
    --color-vermelho-erro:#FF0000;
    --color-vermelho-acerto:#2A9D8F;
    --color-branco:  #FFFFFF;
    --color-preto: #000000;
}

